.Detail-Container {
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../img/johannes-plenio-6XUA5KQ9-1k-unsplash.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    overflow: hidden;
}